.sidebar {
  width:16rem ;
  transition: width 0.3s ease-in-out;
  .sidebar-navigate {
    .active {
      background-color: var(--main-project-color);
      color: var(--text-main-color);
      padding-left: 1.5rem;
    }
    .navigate-menu:hover {
      background-color: var(--main-project-color);
      color: var(--text-main-color);
      padding-left: 1.5rem;
    }
  }
 
}
.slide-out{
  width: 4.5rem;
  transition: width 0.3s ease-in-out;
  .sidebar-navigate {
    .active {
      background-color: var(--main-project-color);
      color: var(--text-main-color);
     padding-left: 0.5rem;
    }
    .navigate-menu:hover {
      background-color: var(--main-project-color);
      color: var(--text-main-color);
      padding-left: 0.5rem;
    }
  }
}
