:root{
    --oposite-main-color:#000000;
    --text-main-color:black;
    --main-color:#ffffff;
    --second-color:#F2F0F0;
    --line-main-color:#DDDDDD;
    --main-project-color:#FFCA54;
    --text-second-color:#B2B2B2;
}

.profile{
    .active{
        background-color: #374151;
        color: white;
    }
}
.notification-bell{
    background-color: #e4e6eb;
    color: black;
    :hover{
        color: #3b82f6;
    }
    .active{
        color: #3b82f6;
    }
}